* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #423443;
}

img,
video,
iframe {
    vertical-align: middle;
}

ul,
ol {
    list-style: none;
}

body {
    font-family: 'Pretendard';
    font-size: 16px;
    line-height: 26px;
    color: #423443;
    min-width: 1450px;
}

/*기본설정*/

/*top*/
#top {
    background-color: #f0e1f0;
}

.top_inner {
    width: 1320px;
    margin: 0 auto;
}

.top_inner ul {
    display: flex;
    justify-content: flex-end;
}

.top_inner ul li {
    padding: 14px 0 14px 40px;
    font-size: 13px;
    font-weight: 400;
}

.top_inner ul li a:hover {
    text-decoration: underline;
}

/*header*/
#header {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#gnb {
    padding-left: 178px;
    display: flex;
}

#gnb li {
    padding: 32px 34px;
    font-size: 20px;
    font-weight: 700;
}

#gnb li a:hover {
    color: #9776b3;
    transition: all 0.5s;
    cursor: pointer;
}

#login {
    margin-left: auto;
    display: flex;
}

#login li {
    padding-left: 56px;
}

#login li.menu {
    padding-top: 4px;
}

/*main_banner*/
.sub_mb img {
    width: 100%;
}

/*md*/
#md {
    background: url(../images/md_bg.jpg) no-repeat 0 0;
    height: 554px;
}

.md_inner {
    width: 1250px;
    margin: 0 auto;
    display: flex;
    padding-top: 100px;
}

#flex {
    display: flex;
    padding-right: 20px;
}

.md_inner ul li.img1 {
    padding-right: 20px;
}

.md_inner h1 {
    padding-right: 10px;
}

#flex md_text {
    text-align: center;
}

#flex h3 {
    background: #f0e1f0;
    border-radius: 40px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
}

#flex h3 span {
    padding-top: 2px;
}

#flex .ost {
    margin-top: 100px;
}

#flex .arab {
    margin-top: 20px;
}

.md_inner ul {
    display: flex;
    margin-left: 12px;
    margin-right: 30px;
}

/*event*/
#event {
    width: 1320px;
    margin: 0 auto;
}

#event_inner {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 60px;
}

/*content1*/
#content1 {
    width: 1320px;
    margin: 0 auto;
}

#content1_inner {
    display: flex;
    justify-content: center;
    padding-bottom: 120px;
}

#content1_inner .text {
    background: url(../images/rt_bg.jpg) no-repeat 0 0;
    width: 660px;
    height: 503px;
    text-align: center;
    padding-top: 120px;
    box-sizing: border-box;
}

#content1_inner .text span {
    padding-left: 10px;
    padding-right: 10px;
}

#content1_inner .text p {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    padding-top: 40px;
    padding-bottom: 80px;
}

#content1_inner .text a {
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #423443;
    border-radius: 20px;
    padding: 8px 50px 8px 20px;
    background: url(../images/more.png) no-repeat 85% 50%;
}

#content1_inner .text a:hover {
    background: url(../images/more_h.png) no-repeat 85% 50%;
    transition: all 0.5s;
}

#content1_inner .img:hover img {
    transition: all 3s;
    transform: scale(1.1, 1.1);
}

#content1_inner .text .more_btn:hover {
    font-size: 16px;
    font-weight: 700;
    background-color: #423443;
    border-radius: 20px;
    color: #ffffff;
    padding: 8px 50px 8px 20px;
    transition: all 0.5s;
}

.img {
    overflow: hidden;
}

/*contents2*/
#content2 {
    width: 1320px;
    margin: 0 auto;
    text-align: center;
}

#content2 h4 {
    font-size: 26px;
    font-weight: 700;
}

#content2 h1 span {
    padding-left: 10px;
    padding-right: 10px;
}

.content_inner {
    padding-top: 60px;
}

.content_inner .trip1 {
    display: flex;
    justify-content: space-evenly;
}

.content_inner .trip1 li:hover {
    transition: all 1s;
    transform: translateY(-10px);
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 28%);
    overflow: hidden;
}

.content_inner .trip2 li:hover {
    transition: all 1s;
    transform: translateY(-10px);
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 28%);
    overflow: hidden;
}

.trip1 li {
    border-radius: 50%;
}

.trip2 li {
    border-radius: 50%;
}

.content_inner .trip2 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}

/*content3*/
#content3 {
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

#content3 h1 span {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
}

#content3 h4 {
    font-size: 26px;
    font-weight: 700;
}

#content3 ul {
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}

#content3 ul li:hover {
    transform: translateY(-10px);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 28%);
    border-radius: 50px;
    overflow: hidden;
}

/*footer*/
#footer {
    background: url(../images/cloud.png) center top;
    width: 100%;
    height: 491px;
}

#footer_inner {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 199px;
}

#footer_f1 ul {
    display: flex;
    padding-bottom: 54px;
}

#footer_f1 ul li a {
    padding-left: 14px;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}

#footer_f1 p {
    padding-left: 14px;
    font-size: 14px;
    font-weight: 400;
    color: #ffff;
}

#footer_f2 {
    margin: 0 20px;
    text-align: center;
}

#footer_f2 h1 {
    padding-bottom: 38px;
}

#footer_f2 p {
    font-size: 14px;
    font-weight: 400;
    color: #ffff;
}

#footer_f3 ul {
    display: flex;
}

#footer_f3 ul li {
    padding-left: 15px;
    padding-bottom: 24px;
    position: relative;
    overflow: hidden;
}

#footer_f3 ul li:hover .h1 {
    transition: all 0.5s;
    opacity: 1;
}

#footer_f3 ul li:hover .h2 {
    transition: all 0.5s;
    opacity: 1;
}

#footer_f3 ul li:hover .h3 {
    transition: all 0.5s;
    opacity: 1;
}

#footer_f3 ul li:hover .h4 {
    transition: all 0.5s;
    opacity: 1;
}

#footer_f3 ul li:hover .h5 {
    transition: all 0.5s;
    opacity: 1;
}

.h1 {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.h2 {
    position: absolute;
    left: 15px;
    top: 0;
    opacity: 0;
}

.h3 {
    position: absolute;
    left: 15px;
    top: 0;
    opacity: 0;
}

.h4 {
    position: absolute;
    left: 15px;
    top: 0;
    opacity: 0;
}

.h5 {
    position: absolute;
    left: 15px;
    top: 0;
    opacity: 0;
}


#footer_f3 ul li:first-child {
    padding-left: 0px;
}


#footer_f3 .service {
    font-size: 15px;
    font-weight: 800;
    color: #ffffff;
    padding-bottom: 16px;
}

#footer_f3 .num {
    font-size: 40px;
    font-weight: 800;
    color: #ffffff;
    padding-bottom: 11px;
}

#footer_f3 .inq {
    font-size: 15px;
    font-weight: 800;
    color: #ffffff;
}

/*top_btn*/
.top_btn {
    position: fixed;
    right: 114px;
    bottom: 270px;
}